@theme inline {
  --color-teide-dark-bg: oklch(from #1D2228 l c h);
  --color-teide-dark-bg-dark: oklch(from #161a1e l c h);
  --color-teide-dark-bg-dark1: oklch(from ${bg_dark1} l c h);
  --color-teide-dark-bg-float: var(--color-teide-dark-bg-dark);
  --color-teide-dark-bg-highlight: oklch(from #2C313A l c h);
  --color-teide-dark-bg-popup: var(--color-teide-dark-bg-dark);
  --color-teide-dark-bg-search: var(--color-teide-dark-blue0);
  --color-teide-dark-bg-sidebar: var(--color-teide-dark-bg-dark);
  --color-teide-dark-bg-statusline: var(--color-teide-dark-bg-dark);
  --color-teide-dark-bg-visual: oklch(from #33394a l c h);
  --color-teide-dark-black: oklch(from #171b20 l c h);
  --color-teide-dark-black-bright: oklch(from #414868 l c h);
  --color-teide-dark-blue: oklch(from #5CCEFF l c h);
  --color-teide-dark-blue-bright: oklch(from #89BEFF l c h);
  --color-teide-dark-blue0: oklch(from #00648F l c h);
  --color-teide-dark-blue1: oklch(from #89BEFF l c h);
  --color-teide-dark-blue2: oklch(from #9DA9E7 l c h);
  --color-teide-dark-blue5: oklch(from #AFDBFD l c h);
  --color-teide-dark-blue6: oklch(from #AFDBFD l c h);
  --color-teide-dark-blue7: oklch(from #254365 l c h);
  --color-teide-dark-border: var(--color-teide-dark-black);
  --color-teide-dark-border-highlight: oklch(from #739fd4 l c h);
  --color-teide-dark-comment: oklch(from #586172 l c h);
  --color-teide-dark-cyan: oklch(from #0AE7FF l c h);
  --color-teide-dark-cyan-bright: oklch(from #00FBFF l c h);
  --color-teide-dark-dark3: oklch(from #545c7e l c h);
  --color-teide-dark-dark5: oklch(from #B9B8D3 l c h);
  --color-teide-dark-diff-add: oklch(from #2e474b l c h);
  --color-teide-dark-diff-change: oklch(from #1e252e l c h);
  --color-teide-dark-diff-delete: oklch(from #542937 l c h);
  --color-teide-dark-diff-text: var(--color-teide-dark-blue7);
  --color-teide-dark-error: var(--color-teide-dark-red1);
  --color-teide-dark-fg: oklch(from #E7EAEE l c h);
  --color-teide-dark-fg-dark: oklch(from #a9b1d6 l c h);
  --color-teide-dark-fg-float: var(--color-teide-dark-fg);
  --color-teide-dark-fg-gutter: oklch(from #474E5C l c h);
  --color-teide-dark-fg-sidebar: var(--color-teide-dark-fg-dark);
  --color-teide-dark-git-add: oklch(from #1BB16E l c h);
  --color-teide-dark-git-change: oklch(from #2AA9DF l c h);
  --color-teide-dark-git-delete: oklch(from #EE4B6B l c h);
  --color-teide-dark-git-ignore: var(--color-teide-dark-dark3);
  --color-teide-dark-green: oklch(from #38FFA5 l c h);
  --color-teide-dark-green-bright: oklch(from #41FFDC l c h);
  --color-teide-dark-green1: oklch(from #8FEBD3 l c h);
  --color-teide-dark-green2: oklch(from #68C9C9 l c h);
  --color-teide-dark-hint: var(--color-teide-dark-teal);
  --color-teide-dark-info: var(--color-teide-dark-blue2);
  --color-teide-dark-magenta: oklch(from #FFB3EC l c h);
  --color-teide-dark-magenta-bright: oklch(from #FFB3EC l c h);
  --color-teide-dark-magenta2: oklch(from #B2A3FF l c h);
  --color-teide-dark-orange: oklch(from #FFA064 l c h);
  --color-teide-dark-purple: oklch(from #A592FF l c h);
  --color-teide-dark-rainbow1: var(--color-teide-dark-blue);
  --color-teide-dark-rainbow2: var(--color-teide-dark-yellow);
  --color-teide-dark-rainbow3: var(--color-teide-dark-green);
  --color-teide-dark-rainbow4: var(--color-teide-dark-teal);
  --color-teide-dark-rainbow5: var(--color-teide-dark-magenta);
  --color-teide-dark-rainbow6: var(--color-teide-dark-purple);
  --color-teide-dark-rainbow7: var(--color-teide-dark-orange);
  --color-teide-dark-rainbow8: var(--color-teide-dark-red);
  --color-teide-dark-red: oklch(from #F97791 l c h);
  --color-teide-dark-red-bright: oklch(from #F73F64 l c h);
  --color-teide-dark-red1: oklch(from #F73F64 l c h);
  --color-teide-dark-teal: oklch(from #41FFDC l c h);
  --color-teide-dark-todo: var(--color-teide-dark-blue);
  --color-teide-dark-warning: var(--color-teide-dark-yellow);
  --color-teide-dark-yellow: oklch(from #FFE77A l c h);
  --color-teide-dark-yellow-bright: oklch(from #FFE77A l c h);
}