@theme inline {
  --color-teide-dimmed-bg: oklch(from #232930 l c h);
  --color-teide-dimmed-bg-dark: oklch(from #1a1f24 l c h);
  --color-teide-dimmed-bg-dark1: oklch(from ${bg_dark1} l c h);
  --color-teide-dimmed-bg-float: var(--color-teide-dimmed-bg-dark);
  --color-teide-dimmed-bg-highlight: oklch(from #2C313A l c h);
  --color-teide-dimmed-bg-popup: var(--color-teide-dimmed-bg-dark);
  --color-teide-dimmed-bg-search: var(--color-teide-dimmed-blue0);
  --color-teide-dimmed-bg-sidebar: var(--color-teide-dimmed-bg-dark);
  --color-teide-dimmed-bg-statusline: var(--color-teide-dimmed-bg-dark);
  --color-teide-dimmed-bg-visual: oklch(from #373d4f l c h);
  --color-teide-dimmed-black: oklch(from #1c2126 l c h);
  --color-teide-dimmed-black-bright: oklch(from #414868 l c h);
  --color-teide-dimmed-blue: oklch(from #5CCEFF l c h);
  --color-teide-dimmed-blue-bright: oklch(from #89BEFF l c h);
  --color-teide-dimmed-blue0: oklch(from #00648F l c h);
  --color-teide-dimmed-blue1: oklch(from #89BEFF l c h);
  --color-teide-dimmed-blue2: oklch(from #9DA9E7 l c h);
  --color-teide-dimmed-blue5: oklch(from #AFDBFD l c h);
  --color-teide-dimmed-blue6: oklch(from #AFDBFD l c h);
  --color-teide-dimmed-blue7: oklch(from #254365 l c h);
  --color-teide-dimmed-border: var(--color-teide-dimmed-black);
  --color-teide-dimmed-border-highlight: oklch(from #75a0d6 l c h);
  --color-teide-dimmed-comment: oklch(from #586172 l c h);
  --color-teide-dimmed-cyan: oklch(from #0AE7FF l c h);
  --color-teide-dimmed-cyan-bright: oklch(from #00FBFF l c h);
  --color-teide-dimmed-dark3: oklch(from #545c7e l c h);
  --color-teide-dimmed-dark5: oklch(from #B9B8D3 l c h);
  --color-teide-dimmed-diff-add: oklch(from #324c52 l c h);
  --color-teide-dimmed-diff-change: oklch(from #232c35 l c h);
  --color-teide-dimmed-diff-delete: oklch(from #582f3d l c h);
  --color-teide-dimmed-diff-text: var(--color-teide-dimmed-blue7);
  --color-teide-dimmed-error: var(--color-teide-dimmed-red1);
  --color-teide-dimmed-fg: oklch(from #E7EAEE l c h);
  --color-teide-dimmed-fg-dark: oklch(from #a9b1d6 l c h);
  --color-teide-dimmed-fg-float: var(--color-teide-dimmed-fg);
  --color-teide-dimmed-fg-gutter: oklch(from #474E5C l c h);
  --color-teide-dimmed-fg-sidebar: var(--color-teide-dimmed-fg-dark);
  --color-teide-dimmed-git-add: oklch(from #1BB16E l c h);
  --color-teide-dimmed-git-change: oklch(from #2AA9DF l c h);
  --color-teide-dimmed-git-delete: oklch(from #EE4B6B l c h);
  --color-teide-dimmed-git-ignore: var(--color-teide-dimmed-dark3);
  --color-teide-dimmed-green: oklch(from #38FFA5 l c h);
  --color-teide-dimmed-green-bright: oklch(from #41FFDC l c h);
  --color-teide-dimmed-green1: oklch(from #8FEBD3 l c h);
  --color-teide-dimmed-green2: oklch(from #68C9C9 l c h);
  --color-teide-dimmed-hint: var(--color-teide-dimmed-teal);
  --color-teide-dimmed-info: var(--color-teide-dimmed-blue2);
  --color-teide-dimmed-magenta: oklch(from #FFB3EC l c h);
  --color-teide-dimmed-magenta-bright: oklch(from #FFB3EC l c h);
  --color-teide-dimmed-magenta2: oklch(from #B2A3FF l c h);
  --color-teide-dimmed-orange: oklch(from #FFA064 l c h);
  --color-teide-dimmed-purple: oklch(from #A592FF l c h);
  --color-teide-dimmed-rainbow1: var(--color-teide-dimmed-blue);
  --color-teide-dimmed-rainbow2: var(--color-teide-dimmed-yellow);
  --color-teide-dimmed-rainbow3: var(--color-teide-dimmed-green);
  --color-teide-dimmed-rainbow4: var(--color-teide-dimmed-teal);
  --color-teide-dimmed-rainbow5: var(--color-teide-dimmed-magenta);
  --color-teide-dimmed-rainbow6: var(--color-teide-dimmed-purple);
  --color-teide-dimmed-rainbow7: var(--color-teide-dimmed-orange);
  --color-teide-dimmed-rainbow8: var(--color-teide-dimmed-red);
  --color-teide-dimmed-red: oklch(from #F97791 l c h);
  --color-teide-dimmed-red-bright: oklch(from #F73F64 l c h);
  --color-teide-dimmed-red1: oklch(from #F73F64 l c h);
  --color-teide-dimmed-teal: oklch(from #41FFDC l c h);
  --color-teide-dimmed-todo: var(--color-teide-dimmed-blue);
  --color-teide-dimmed-warning: var(--color-teide-dimmed-yellow);
  --color-teide-dimmed-yellow: oklch(from #FFE77A l c h);
  --color-teide-dimmed-yellow-bright: oklch(from #FFE77A l c h);
}