@theme inline {
  --color-teide-light-bg: oklch(from #d4dbe4 l c h);
  --color-teide-light-bg-dark: oklch(from #e1e6eb l c h);
  --color-teide-light-bg-dark1: oklch(from ${bg_dark1} l c h);
  --color-teide-light-bg-float: var(--color-teide-light-bg-dark);
  --color-teide-light-bg-highlight: oklch(from #c0c6d3 l c h);
  --color-teide-light-bg-popup: var(--color-teide-light-bg-dark);
  --color-teide-light-bg-search: var(--color-teide-light-blue0);
  --color-teide-light-bg-sidebar: var(--color-teide-light-bg-dark);
  --color-teide-light-bg-statusline: var(--color-teide-light-bg-dark);
  --color-teide-light-bg-visual: oklch(from #b6bdd0 l c h);
  --color-teide-light-black: oklch(from #aaafb6 l c h);
  --color-teide-light-black-bright: oklch(from #a1a6c5 l c h);
  --color-teide-light-blue: oklch(from #007496 l c h);
  --color-teide-light-blue-bright: oklch(from #0074ba l c h);
  --color-teide-light-blue0: oklch(from #009bda l c h);
  --color-teide-light-blue1: oklch(from #0074ba l c h);
  --color-teide-light-blue2: oklch(from #5873d5 l c h);
  --color-teide-light-blue5: oklch(from #13658a l c h);
  --color-teide-light-blue6: oklch(from #13658a l c h);
  --color-teide-light-blue7: oklch(from #8db4ea l c h);
  --color-teide-light-border: var(--color-teide-light-black);
  --color-teide-light-border-highlight: oklch(from #2a89c2 l c h);
  --color-teide-light-comment: oklch(from #828fa7 l c h);
  --color-teide-light-cyan: oklch(from #006b77 l c h);
  --color-teide-light-cyan-bright: oklch(from #006263 l c h);
  --color-teide-light-dark3: oklch(from #8990b3 l c h);
  --color-teide-light-dark5: oklch(from #6c6aa0 l c h);
  --color-teide-light-diff-add: oklch(from #b3c6cd l c h);
  --color-teide-light-diff-change: oklch(from #cdd7e5 l c h);
  --color-teide-light-diff-delete: oklch(from #d1acbd l c h);
  --color-teide-light-diff-text: var(--color-teide-light-blue7);
  --color-teide-light-error: var(--color-teide-light-red1);
  --color-teide-light-fg: oklch(from #4c545d l c h);
  --color-teide-light-fg-dark: oklch(from #6172b0 l c h);
  --color-teide-light-fg-float: var(--color-teide-light-fg);
  --color-teide-light-fg-gutter: oklch(from #99a3b8 l c h);
  --color-teide-light-fg-sidebar: var(--color-teide-light-fg-dark);
  --color-teide-light-git-add: oklch(from #15975d l c h);
  --color-teide-light-git-change: oklch(from #218bb9 l c h);
  --color-teide-light-git-delete: oklch(from #c02d4d l c h);
  --color-teide-light-git-ignore: var(--color-teide-light-dark3);
  --color-teide-light-green: oklch(from #00663d l c h);
  --color-teide-light-green-bright: oklch(from #006252 l c h);
  --color-teide-light-green1: oklch(from #3a6459 l c h);
  --color-teide-light-green2: oklch(from #3c7a7a l c h);
  --color-teide-light-hint: var(--color-teide-light-teal);
  --color-teide-light-info: var(--color-teide-light-blue2);
  --color-teide-light-magenta: oklch(from #bb00a0 l c h);
  --color-teide-light-magenta-bright: oklch(from #bb00a0 l c h);
  --color-teide-light-magenta2: oklch(from #7e57ff l c h);
  --color-teide-light-orange: oklch(from #ae5d00 l c h);
  --color-teide-light-purple: oklch(from #8665ff l c h);
  --color-teide-light-rainbow1: var(--color-teide-light-blue);
  --color-teide-light-rainbow2: var(--color-teide-light-yellow);
  --color-teide-light-rainbow3: var(--color-teide-light-green);
  --color-teide-light-rainbow4: var(--color-teide-light-teal);
  --color-teide-light-rainbow5: var(--color-teide-light-magenta);
  --color-teide-light-rainbow6: var(--color-teide-light-purple);
  --color-teide-light-rainbow7: var(--color-teide-light-orange);
  --color-teide-light-rainbow8: var(--color-teide-light-red);
  --color-teide-light-red: oklch(from #f62466 l c h);
  --color-teide-light-red-bright: oklch(from #c81d47 l c h);
  --color-teide-light-red1: oklch(from #c81d47 l c h);
  --color-teide-light-teal: oklch(from #006252 l c h);
  --color-teide-light-todo: var(--color-teide-light-blue);
  --color-teide-light-warning: var(--color-teide-light-yellow);
  --color-teide-light-yellow: oklch(from #615400 l c h);
  --color-teide-light-yellow-bright: oklch(from #615400 l c h);
}