@theme inline {
  --color-teide-darker-bg: oklch(from #171B20 l c h);
  --color-teide-darker-bg-dark: oklch(from #111418 l c h);
  --color-teide-darker-bg-dark1: oklch(from ${bg_dark1} l c h);
  --color-teide-darker-bg-float: var(--color-teide-darker-bg-dark);
  --color-teide-darker-bg-highlight: oklch(from #2C313A l c h);
  --color-teide-darker-bg-popup: var(--color-teide-darker-bg-dark);
  --color-teide-darker-bg-search: var(--color-teide-darker-blue0);
  --color-teide-darker-bg-sidebar: var(--color-teide-darker-bg-dark);
  --color-teide-darker-bg-statusline: var(--color-teide-darker-bg-dark);
  --color-teide-darker-bg-visual: oklch(from #2f3546 l c h);
  --color-teide-darker-black: oklch(from #12161a l c h);
  --color-teide-darker-black-bright: oklch(from #414868 l c h);
  --color-teide-darker-blue: oklch(from #5CCEFF l c h);
  --color-teide-darker-blue-bright: oklch(from #89BEFF l c h);
  --color-teide-darker-blue0: oklch(from #00648F l c h);
  --color-teide-darker-blue1: oklch(from #89BEFF l c h);
  --color-teide-darker-blue2: oklch(from #9DA9E7 l c h);
  --color-teide-darker-blue5: oklch(from #AFDBFD l c h);
  --color-teide-darker-blue6: oklch(from #AFDBFD l c h);
  --color-teide-darker-blue7: oklch(from #254365 l c h);
  --color-teide-darker-border: var(--color-teide-darker-black);
  --color-teide-darker-border-highlight: oklch(from #729dd2 l c h);
  --color-teide-darker-comment: oklch(from #586172 l c h);
  --color-teide-darker-cyan: oklch(from #0AE7FF l c h);
  --color-teide-darker-cyan-bright: oklch(from #00FBFF l c h);
  --color-teide-darker-dark3: oklch(from #545c7e l c h);
  --color-teide-darker-dark5: oklch(from #B9B8D3 l c h);
  --color-teide-darker-diff-add: oklch(from #294145 l c h);
  --color-teide-darker-diff-change: oklch(from #181f27 l c h);
  --color-teide-darker-diff-delete: oklch(from #4f2431 l c h);
  --color-teide-darker-diff-text: var(--color-teide-darker-blue7);
  --color-teide-darker-error: var(--color-teide-darker-red1);
  --color-teide-darker-fg: oklch(from #E7EAEE l c h);
  --color-teide-darker-fg-dark: oklch(from #a9b1d6 l c h);
  --color-teide-darker-fg-float: var(--color-teide-darker-fg);
  --color-teide-darker-fg-gutter: oklch(from #474E5C l c h);
  --color-teide-darker-fg-sidebar: var(--color-teide-darker-fg-dark);
  --color-teide-darker-git-add: oklch(from #1BB16E l c h);
  --color-teide-darker-git-change: oklch(from #2AA9DF l c h);
  --color-teide-darker-git-delete: oklch(from #EE4B6B l c h);
  --color-teide-darker-git-ignore: var(--color-teide-darker-dark3);
  --color-teide-darker-green: oklch(from #38FFA5 l c h);
  --color-teide-darker-green-bright: oklch(from #41FFDC l c h);
  --color-teide-darker-green1: oklch(from #8FEBD3 l c h);
  --color-teide-darker-green2: oklch(from #68C9C9 l c h);
  --color-teide-darker-hint: var(--color-teide-darker-teal);
  --color-teide-darker-info: var(--color-teide-darker-blue2);
  --color-teide-darker-magenta: oklch(from #FFB3EC l c h);
  --color-teide-darker-magenta-bright: oklch(from #FFB3EC l c h);
  --color-teide-darker-magenta2: oklch(from #B2A3FF l c h);
  --color-teide-darker-orange: oklch(from #FFA064 l c h);
  --color-teide-darker-purple: oklch(from #A592FF l c h);
  --color-teide-darker-rainbow1: var(--color-teide-darker-blue);
  --color-teide-darker-rainbow2: var(--color-teide-darker-yellow);
  --color-teide-darker-rainbow3: var(--color-teide-darker-green);
  --color-teide-darker-rainbow4: var(--color-teide-darker-teal);
  --color-teide-darker-rainbow5: var(--color-teide-darker-magenta);
  --color-teide-darker-rainbow6: var(--color-teide-darker-purple);
  --color-teide-darker-rainbow7: var(--color-teide-darker-orange);
  --color-teide-darker-rainbow8: var(--color-teide-darker-red);
  --color-teide-darker-red: oklch(from #F97791 l c h);
  --color-teide-darker-red-bright: oklch(from #F73F64 l c h);
  --color-teide-darker-red1: oklch(from #F73F64 l c h);
  --color-teide-darker-teal: oklch(from #41FFDC l c h);
  --color-teide-darker-todo: var(--color-teide-darker-blue);
  --color-teide-darker-warning: var(--color-teide-darker-yellow);
  --color-teide-darker-yellow: oklch(from #FFE77A l c h);
  --color-teide-darker-yellow-bright: oklch(from #FFE77A l c h);
}