// Teide Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    teide_light {
        fg "#4c545d"
        bg "#c0c6d3"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#c9d2dd"
        red "#f62466"
        green "#00663d"
        yellow "#615724"
        blue "#007496"
        magenta "#bb00a0"
        cyan "#006b77"
        white "#6172b0"
        orange "#ae5d00"
    }
}

