(
  selected_tab: Some("#bb00a0"),
  command_fg: Some("#828fa7"),
  selection_bg: Some("#c0c6d3"),
  selection_fg: Some("#006b77"),
  cmdbar_bg: Some("#c9d2dd"),
  cmdbar_extra_lines_bg: Some("#c9d2dd"),
  disabled_fg: Some("#828fa7"),
  diff_line_add: Some("#00663d"),
  diff_line_delete: Some("#f62466"),
  diff_file_added: Some("#3a6459"),
  diff_file_removed: Some("#c81d47"),
  diff_file_moved: Some("#7e58ff"),
  diff_file_modified: Some("#615724"),
  commit_hash: Some("#bb00a0"),
  commit_time: Some("#006252"),
  commit_author: Some("#00663d"),
  danger_fg: Some("#f62466"),
  push_gauge_bg: Some("#c9d2dd"),
  push_gauge_fg: Some("#4c545d"),
  tag_fg: Some("#7e58ff"),
  branch_fg: Some("#615724")
)
