(
  selected_tab: Some("#FFAFEB"),
  command_fg: Some("#586172"),
  selection_bg: Some("#2C313A"),
  selection_fg: Some("#0AE7FF"),
  cmdbar_bg: Some("#171B20"),
  cmdbar_extra_lines_bg: Some("#171B20"),
  disabled_fg: Some("#586172"),
  diff_line_add: Some("#38FFA5"),
  diff_line_delete: Some("#F97791"),
  diff_file_added: Some("#86EACF"),
  diff_file_removed: Some("#F5335A"),
  diff_file_moved: Some("#AE9EFF"),
  diff_file_modified: Some("#FFDB70"),
  commit_hash: Some("#FFAFEB"),
  commit_time: Some("#41F1D1"),
  commit_author: Some("#38FFA5"),
  danger_fg: Some("#F97791"),
  push_gauge_bg: Some("#171B20"),
  push_gauge_fg: Some("#E7EAEE"),
  tag_fg: Some("#AE9EFF"),
  branch_fg: Some("#FFDB70")
)
