(
  selected_tab: Some("#FFB3EC"),
  command_fg: Some("#586172"),
  selection_bg: Some("#2C313A"),
  selection_fg: Some("#0AE7FF"),
  cmdbar_bg: Some("#232930"),
  cmdbar_extra_lines_bg: Some("#232930"),
  disabled_fg: Some("#586172"),
  diff_line_add: Some("#38FFA5"),
  diff_line_delete: Some("#F97791"),
  diff_file_added: Some("#8FEBD3"),
  diff_file_removed: Some("#F73F64"),
  diff_file_moved: Some("#B2A3FF"),
  diff_file_modified: Some("#FFE77A"),
  commit_hash: Some("#FFB3EC"),
  commit_time: Some("#41FFDC"),
  commit_author: Some("#38FFA5"),
  danger_fg: Some("#F97791"),
  push_gauge_bg: Some("#232930"),
  push_gauge_fg: Some("#E7EAEE"),
  tag_fg: Some("#B2A3FF"),
  branch_fg: Some("#FFE77A")
)
