.theme-light,
.theme-dark {
  --header-primary: #4c545d;
  --header-secondary: #6172b0;
  --text-normal: #4c545d;
  --text-muted: #6172b0;
  --text-link: #007496;
  --text-link-low-saturation: #13658a;
  --text-positive: #17695a;
  --text-warning: #6c5800;
  --text-danger: #f62466;
  --text-brand: #007496;
  --background-primary: #e0e4ea;
  --bg-base-primary: #e0e4ea;
  --background-secondary: #ebedf1;
  --background-secondary-alt: #ebedf1;
  --background-tertiary: ${bg_dark1};
  --background-accent: #009bda;
  --background-floating: #edf0f3;
  --background-nested-floating: #ebedf1;
  --background-mobile-primary: #e0e4ea;
  --background-mobile-secondary: #ebedf1;
  --bg-base-secondary: #ebedf1;
  --bg-surface-raised: #ebedf1;
  --home-background: #e0e4ea;
  --chat-background: #e0e4ea;
  --chat-border: #c0c6d3;
  --chat-input-container-background: #e0e4ea;
  --background-modifier-hover: #8990b326;
  --background-modifier-selected: #8990b332;
  --background-modifier-accent: #8990b342;
  --background-modifier-active: #8990b32B;
  --info-positive-background: #00663d26;
  --info-positive-foreground: #17695a;
  --info-positive-text: #4c545d;
  --brand-500: #009bda;
  --brand-560: #007496;
  --info-warning-background: #6c580026;
  --info-warning-foreground: #6c5800;
  --info-warning-text: #4c545d;
  --info-danger-background:#f6246626;
  --info-danger-foreground: #f62466;
  --info-danger-text: #4c545d;
  --info-help-background: #13658a26;
  --info-help-foreground: #006b77;
  --info-help-text: #4c545d;
  --status-positive-background: #17695a;
  --status-positive-text: #e0e4ea;
  --status-warning-background: #6c5800;
  --status-warning-text: #e0e4ea;
  --status-danger-background: #f62466;
  --status-danger-text: #e0e4ea;
  --status-danger: #f62466;
  --status-positive: #17695a;
  --status-warning: #6c5800;
  --status-yellow-400: #6c5800;
  --status-green-600: #17695a;
  --primary-dark-600: #e0e4ea;
  --status-yellow-560: #6c5800;
  --status-red-500: #f62466;
  --status-red-530: #f62466;
  --status-yellow-500: #6c5800;
  --black-500: #c0c6d3;
  --green-360: #17695a;
  --yellow-360: #6c5800;
  --yellow-300: #6c5800;
  --red-400: #f62466;
  --primary-100: #6c6aa0;
  --primary-300: #6c6aa0;
  --primary-400: #6c6aa0;
  --primary-dark-700: #c0c6d3;
  --primary-800: #c0c6d3;
  --status-green-560: #17695a;
  --white-400: #4c545d;
  --white-500: #4c545d;
  --guild-boosting-pink: #be00a2;
  --premium-perk-yellow: #6c5800;
  --premium-perk-purple: #695b29;
  --premium-perk-dark-blue: #007496;
  --premium-perk-light-blue: #0075bd;
  --premium-perk-blue: #007496;
  --premium-perk-green: #17695a;
  --premium-perk-pink: ${pink};
  --premium-perk-orange: #a25f00;
  --status-green-400: #17695a;
  --button-danger-background: #ce2348;
  --button-danger-background-hover: #f62466;
  --button-danger-background-active: #13658a;
  --button-danger-background-disabled: #f62466;
  --button-positive-background: #17695a;
  --button-positive-background-hover: #376659;
  --button-positive-background-active: #3c7a7a;
  --button-positive-background-disabled: #17695a;
  --button-secondary-background: #8990b3;
  --button-secondary-background-hover: #99a3b8;
  --button-secondary-background-active: #99a3b8;
  --button-secondary-background-disabled: #6c6aa0;
  --button-outline-danger-text: #4c545d;
  --button-outline-danger-border: #ce2348;
  --button-outline-danger-background: transparent;
  --button-outline-danger-background-hover: #f62466;
  --button-outline-danger-text-hover: #e0e4ea;
  --button-outline-danger-border-hover: #f62466;
  --button-outline-danger-background-active: #ce2348;
  --button-outline-danger-text-active: #e0e4ea;
  --button-outline-danger-border-active: #ce2348;
  --button-outline-positive-text: #4c545d;
  --button-outline-positive-border: #17695a;
  --button-outline-positive-background: transparent;
  --button-outline-positive-background-hover: #00663d;
  --button-outline-positive-text-hover: #e0e4ea;
  --button-outline-positive-border-hover: #00663d;
  --button-outline-positive-background-active: #376659;
  --button-outline-positive-text-active: #e0e4ea;
  --button-outline-positive-border-active: #00663d;
  --button-outline-brand-text: #4c545d;
  --button-outline-brand-border: #007496;
  --button-outline-brand-background: transparent;
  --button-outline-brand-background-hover: #0075bd;
  --button-outline-brand-text-hover: #e0e4ea;
  --button-outline-brand-border-hover: #0075bd;
  --button-outline-brand-background-active: #007496;
  --button-outline-brand-text-active: #e0e4ea;
  --button-outline-brand-border-active: #0075bd;
  --button-outline-primary-text: #4c545d;
  --button-outline-primary-border: #8990b3;
  --button-outline-primary-background: transparent;
  --button-outline-primary-background-hover: #8990b3;
  --button-outline-primary-text-hover: #e0e4ea;
  --button-outline-primary-border-hover: #8990b3;
  --button-outline-primary-background-active: #8990b3;
  --button-outline-primary-text-active: #e0e4ea;
  --button-outline-primary-border-active: #8990b3;
  --modal-background: #e0e4ea;
  --modal-footer-background: #c0c6d3;
  --scrollbar-thin-thumb: #007496;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #007496;
  --scrollbar-auto-track: #c0c6d3;
  --scrollbar-auto-scrollbar-color-thumb: #007496;
  --scrollbar-auto-scrollbar-color-track: #c0c6d3;
  --input-background: #c0c6d3;
  --input-placeholder-text: #6c6aa0;
  --logo-primary: #4c545d;
  --control-brand-foreground: #007496;
  --control-brand-foreground-new: #007496;
  --mention-foreground: #007496;
  --mention-background: #a1a6c5;
  --background-mentioned: #6c580019;
  --background-mentioned-hover: #6c580014;
  --background-message-hover: #ebedf13F;
  --background-message-automod: #be00a20C;
  --background-message-automod-hover: #be00a219;
  --background-message-highlight: #00749614;
  --background-message-highlight-hover: #0074960F;
  --channels-default: #6172b0;
  --channel-icon: #00749699;
  --channel-text-area-placeholder: #8990b37F;
  --channeltextarea-background: #ebedf1;
  --activity-card-background: #c0c6d3;
  --textbox-markdown-syntax: #4c545d;
  --spoiler-revealed-background: #c0c6d3;
  --spoiler-hidden-background: #828fa7;
  --android-navigation-bar-background: #c0c6d3;
  --android-ripple: #b3b6bb4C;
  --bg-mod-faint: #ebedf1;
  --bg-mod-subtle: #a1a6c5;
  --focus-primary: #007496;
  --interactive-normal: #4c545d;
  --interactive-muted: #8990b34C;
  --interactive-hover: #4c545d;
  --interactive-active: #4c545d;
  --search-popout-option-non-text-color: #6172b0;
  --__spoiler-background-color--hidden: #8db4ea;
  --__spoiler-warning-background-color: #695b29;
}

div[class*="autocomplete_"] {
    background-color: #edf0f3 !important;
}

div[class*="autocomplete_"]
div[class*="categoryHeader"] {
    background-color: #edf0f3 !important;
}

rect[mask="url(#svg-mask-status-online)"] {
    fill: #3c7a7a;
}

rect[mask="url(#svg-mask-status-idle)"] {
    fill: #6c5800;
}

rect[mask="url(#svg-mask-status-dnd)"] {
    fill: #ce2348;
}

rect[mask="url(#svg-mask-status-offline)"] {
    fill: #6c6aa0;
}

/* hljs */
/* stolen from https://github.com/x6r/dracula/blob/main/addons/hljs-styling.scss :D */
:root {
  /* ---- Default Colors -- */
  --background: var(--background-secondary);
  --text-default: #6172b0;
  --color-1: #f62466;
  --color-2: #a25f00;
  --color-3: #6c5800;
  --color-4: #00663d;
  --color-5: #376659;
  --color-6: #146370;
  --color-7: #5873d5;
  --color-8: #006b77;
  --color-9: #007496;
  --color-10: #be00a2;
  --color-11: #4c545d;
  /* ---- HLJS Default -- */
  --hljs-attribute: var(--color-7);
  --hljs-nomarkup: var(--color-8);
  --hljs-variable: var(--color-11);
  --hljs-meta: var(--color-8);
  --hljs-meta-string: var(--color-4);
  --hljs-meta-keyword: var(--hljs-meta);
  --hljs-literal: var(--color-2);
  --hljs-section: var(--color-9);
  --hljs-number: var(--color-2);
  --hljs-name: var(--color-4);
  --hljs-selector-tag: var(--color-4);
  --hljs-selector-class: var(--color-9);
  --hljs-selector-attr: var(--color-7);
  --hljs-selector-pseudo: var(--color-7);
  --hljs-selector-id: var(--hljs-selector-class);
  --hljs-keyword: var(--color-10);
  --hljs-built_in: var(--color-3);
  --hljs-title: var(--color-9);
  --hljs-link: var(--color-5);
  --hljs-bullet: var(--color-10);
  --hljs-symbol: var(--color-1);
  --hljs-addition: var(--color-1);
  --hljs-deletion: var(--color-5);
  --hljs-attr: var(--color-2);
  --hljs-punctuation: var(--text-default);
  --hljs-regexp: var(--color-6);
  --hljs-type: var(--color-10);
  --hljs-operator: var(--color-10);
  --hljs-rest_arg: var(--text-default);
  --hljs-template-variable: var(--color-11);
  /* ---- HLJS Specific -- */
  /* --> Params */
  --hljs-params: var(--text-default);
  --hljs-params-attr: var(--hljs-params);
  /* --> Comment */
  --hljs-comment: #828fa7;
  --hljs-comment-doctag: var(--hljs-comment);
  /* --> String */
  --hljs-string: var(--color-4);
  --hljs-string-subst: var(--color-5);
  --hljs-string-template-variable: var(--color-2);
  /* --> Tag */
  --hljs-tag: var(--color-7);
  --hljs-tag-name: var(--color-10);
  --hljs-tag-attr: var(--color-5);
  /* --> Function */
  --hljs-function: var(--text-default);
  --hljs-function-keyword: var(--hljs-keyword);
  --hljs-function-title: var(--hljs-title);
  --hljs-function-params: var(--hljs-params);
  --hljs-function-literal: var(--hljs-literal);
  --hljs-function-operator: var(--hljs-operator);
  /* --> Class */
  --hljs-class: var(--text-default);
  --hljs-class-keyword: var(--color-6);
  --hljs-class-title: var(--color-7);
}

#app-mount .hljs {
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", var(--font-code),
    monospace;
  background: var(--background-secondary);
  color: var(--text-normal);
  padding: 15px 20px;
  border-radius: 5px;
}

#app-mount .codeLine-3a3dbd {
  color: var(--text-default);
}

#app-mount .hljs-comment {
  color: var(--hljs-comment);
}

#app-mount .hljs-attribute {
  color: var(--hljs-attribute);
}

#app-mount .hljs-nomarkup {
  color: var(--hljs-nomarkup);
}

#app-mount .hljs-variable {
  color: var(--hljs-variable);
}

#app-mount .hljs-meta {
  color: var(--hljs-meta);
}

#app-mount .hljs-meta-string {
  color: var(--hljs-meta-string);
}

#app-mount .hljs-meta-keyword {
  color: var(--hljs-meta-keyword);
}

#app-mount .hljs-literal {
  color: var(--hljs-literal);
}

#app-mount .hljs-string {
  color: var(--hljs-string);
}

#app-mount .hljs-section {
  color: var(--hljs-section);
}

#app-mount .hljs-number {
  color: var(--hljs-number);
}

#app-mount .hljs-tag {
  color: var(--hljs-tag);
}

#app-mount .hljs-name {
  color: var(--hljs-name);
}

#app-mount .hljs-selector-tag {
  color: var(--hljs-selector-tag);
}

#app-mount .hljs-selector-class {
  color: var(--hljs-selector-class);
}

#app-mount .hljs-selector-attr {
  color: var(--hljs-selector-attr);
}

#app-mount .hljs-selector-pseudo {
  color: var(--hljs-selector-pseudo);
}

#app-mount :not(.hljs-function) > .hljs-keyword {
  color: var(--color10);
  font-style: italic;
}

#app-mount .hljs-function {
  color: var(--hljs-function);
}

#app-mount .hljs-built_in {
  color: var(--hljsbuilt_in);
}

#app-mount .hljs-title {
  color: var(--hljs-title);
}

#app-mount .hljs-link {
  color: var(--hljs-link);
}

#app-mount .hljs-bullet {
  color: var(--hljs-bullet);
}

#app-mount .hljs-symbol {
  color: var(--hljs-symbol);
}

#app-mount .hljs-addition {
  color: var(--hljs-addition);
}

#app-mount .hljs-deletion {
  color: var(--hljs-deletion);
}

#app-mount .hljs-attr {
  color: var(--hljs-attr);
}

#app-mount .hljs-punctuation {
  color: var(--hljs-punctuation);
}

#app-mount .hljs-regexp {
  color: var(--hljs-regexp);
}

#app-mount .hljs-type {
  color: var(--hljs-type);
}

#app-mount .hljs-selector-id {
  color: var(--hljs-selector-id);
}

#app-mount .hljs-params {
  color: var(--hljs-params);
}

#app-mount .hljs-operator {
  color: var(--hljs-operator);
}

#app-mount .hljs-rest_arg {
  color: var(--hljs-rest_arg);
}

#app-mount .hljs-template-variable {
  color: var(--hljs-template-variable);
}

#app-mount .hljs-comment .hljs-doctag {
  color: var(--hljs-comment-doctag);
}

#app-mount .hljs-params .hljs-attr {
  color: var(--hljs-params-attr);
}

#app-mount .hljs-string .hljs-subst {
  color: var(--hljs-string-subst);
}

#app-mount .hljs-string .hljs-template-variable {
  color: var(--hljs-string-template-variable);
}

#app-mount .hljs-tag .hljs-name {
  color: var(--hljs-tag-name);
}

#app-mount .hljs-tag .hljs-attr {
  color: var(--hljs-tag-attr);
}

#app-mount .hljs-function .hljs-keyword {
  color: var(--hljs-function-keyword);
}

#app-mount .hljs-function .hljs-title {
  color: var(--hljs-function-title);
}

#app-mount .hljs-function .hljs-literal {
  color: var(--hljs-function-literal);
}

#app-mount .hljs-function .hljs-params {
  color: var(--hljs-function-params);
}

#app-mount .hljs-function .hljs-operator {
  color: var(--hljs-function-operator);
}

#app-mount .hljs-class .hljs-keyword {
  color: var(--hljs-class-keyword);
}

#app-mount .hljs-class .hljs-title {
  color: var(--hljs-class-title);
}

/* Haskell Specific Syntax */
#app-mount .hs .hljs-type {
  color: var(--color-7);
}

/* Lua Specific Syntax */
#app-mount .lua .hljs-built_in {
  color: var(--color-7);
}

/* Clang Specific Syntax */
#app-mount .c .hljs-keyword {
  color: var(--color-7);
}
#app-mount .c .hljs-built_in {
  color: var(--color-9);
}
#app-mount .c > .hljs-keyword {
  color: var(--color-10);
}

/* CSS Specific Syntax */
#app-mount .css .hljs-built_in {
  color: var(--color-5);
}

/* Rust Specific Syntax */
#app-mount .rust .hljs-built_in {
  color: var(--color-7);
}

/* PHP Specific Syntax */
#app-mount .php .hljs-variable {
  color: var(--color-10);
}
